@import "tailwindcss";

@keyframes zoomSlow {
  0% { transform: scale(1.15); }
  100% { transform: scale(1.25); }
}

.animate-zoomSlow {
  animation: zoomSlow 18s ease-in-out infinite alternate;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
